{% extends 'base.html' %}

{% block content %}
    
    <div class="canvas">
        <div class="canvas-list">
            <a href="http://127.0.0.1:8000/canvas/langtonsant">Langtons ant</a>
            <a href="">Diffusion-limited aggregation</a>
            <a href="">Matrix background</a>
            <a href="">Reaction diffusion</a>
            <a href="">10PRINT</a>
        </div>
        <p>
            some text about what p5 is and what to expect from all those little projects.
        </p>
    </div>
{% endblock %}


